.paper{
    margin:16px;
    padding: 16px;
}
.grid{
    padding-right: 16px;
}
.list_paper{
    margin:16px;
}
.done_item{
    text-decoration:line-through;
    color:#808080
}
.text{
    padding-right: 66px;
}
.edit_btn{
    margin-left: 10px;
    margin-right: 8px;
}